<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.WeatherMapper" >
  <resultMap id="BaseResultMap" type="pojo.Weather" >
    <id column="wid" property="wid" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="temper" property="temper" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    wid, city, url, temper
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from weather
    where wid = #{wid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from weather
    where wid = #{wid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Weather" >
    insert into weather (wid, city, url, 
      temper)
    values (#{wid,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{temper,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Weather" >
    insert into weather
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        wid,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="temper != null" >
        temper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="temper != null" >
        #{temper,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Weather" >
    update weather
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="temper != null" >
        temper = #{temper,jdbcType=VARCHAR},
      </if>
    </set>
    where wid = #{wid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Weather" >
    update weather
    set city = #{city,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      temper = #{temper,jdbcType=VARCHAR}
    where wid = #{wid,jdbcType=INTEGER}
  </update>
</mapper>